<div ng-controller="LoginCtrl" id="loginModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form form-horizontal" ng-submit="tryLogin(login, password)">
				<div class="modal-header">
					<h3>Authentication</h3>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div class="col-md-4">
							<label for="loginModal-login">Login</label>
							<input type="text" class="form-control" id="loginModal-login" ng-model="login">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4">
							<label for="loginModal-password">Password</label>
							<input type="password" class="form-control" id="loginModal-password" ng-model="password">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Login !</button>
				</div>
			</form>
		</div>
	</div>
</div>