<div class="pagination pagination-centered">
   	<ul ng-show="showNextButtons()">
   		<li ng-click="goToFirstPage()"><a href="">&laquo;</a></li>
   		<li ng-click="goToPreviousPage()"><a href="">&lt;</a></li>
   	</ul>
    <ul>
	    <li ng-class="{disabled:paginator.currentPage == num}" ng-repeat="num in numerosPage" ng-click="goToPage(num)"><a href="">{{num}}</a></li>
    </ul>
    <ul ng-show="showPreviousButtons()">
    	<li ng-click="goToNextPage()"><a href="">&gt;</a></li>
    	<li ng-click="goToLastPage()"><a href="">&raquo;</a></li>
    </ul>    
	<select ng-model="paginator.pageSize" ng-options="size for size in pageSizeList"></select>
</div>