<form class="form-horizontal" ng-submit="save()">
	<fieldset>
		<legend ng-show="userEditForm.userId != 0">Modification d'utilisateur</legend>
		<legend ng-show="userEditForm.userId == 0">Création d'utilisateur</legend>
		<div irajMessages="userEditForm" />
		<div class="control-group">
			<label class="control-label" for="userEditForm-login">Login</label>
			<div class="controls">
				<input type="text" id="userEditForm-login" ng-model="userEditForm.login">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="userEditForm-password">Mot de passe</label>
			<div class="controls">
				<input type="text" id="userEditForm-password" ng-model="userEditForm.password">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="userEditForm-lastName">Nom</label>
			<div class="controls">
				<input type="text" id="userEditForm-lastName" ng-model="userEditForm.lastName">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="userEditForm-firstName">Prenom</label>
			<div class="controls">
				<input type="text" id="userEditForm-firstName" ng-model="userEditForm.firstName">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="userEditForm-profileId">Profile</label>
			<div class="controls">
				<select id="userEditForm-profileId" ng-model="userEditForm.profileId" ng-options="profile.id as profile.label for profile in profileList"></select>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" ng-model="userEditForm.active"> Actif
				</label>
			</div>
		</div>
		<button type="submit" class="btn" style="float:right">Enregistrer</button>
	</fieldset>
</form>