<form class="form-inline" ng-submit="search(true)">
	<fieldset>
		<legend>Recherche d'utilisateur</legend>
		<label for="nom">Nom</label>
		<input id="nom" class="form-control" type="text" ng-model="userForm.nom" placeholder="Type something…">
		
		<label for="login">Login</label>
		<input id="login" class="form-control" type="text" ng-model="userForm.login" placeholder="Type something…">
		
		<label for="profile">Profile</label>
		<select id="profile" class="form-control" ng-model="userForm.profileId" ng-options="profile.id as profile.label for profile in profileList">
			<option value="">Tous</option>
		</select>
		
		<button type="submit" class="btn btn-primary">Rechercher</button>
	</fieldset>
</form>

<div ng-show="count">
    <fieldset>
    	<legend>Nombre d'utilisateurs : {{count}}</legend>
    	
	    <table ng-table="tableParams" class="table table-bordered table-condensed table-hover table-striped">
		    <tbody>
		    	<tr ng-repeat="user in $data" ng-click="selectUser(user.userId)">
		            <td data-title="'Id'" sortable="'userId'">
		            	{{user.userId}}
		            </td>
		            <td data-title="'Prénom'" sortable="'firstName'">
		            	{{user.firstName}}
	            	</td>
		            <td data-title="'Nom'" sortable="'lastName'">
		            	{{user.lastName}}
	            	</td>
		            <td data-title="'Profil'" sortable="'profile.label'">
		            	{{user.profileLabel}}
	            	</td>
		        </tr>
		    </tbody>
	    </table>
	</fieldset>
</div>