<form iraj-id-prefix="userEditForm" class="form-horizontal" ng-submit="save()">
	<fieldset>
		<legend ng-show="userEditForm.userId != 0">Modification d'utilisateur</legend>
		<legend ng-show="userEditForm.userId == 0">Création d'utilisateur</legend>
		<div irajMessages="userEditForm" />
		
		<div iraj-control iraj-field="login" iraj-label="Login">
			<input type="text">
		</div>
		<div iraj-control iraj-field="password" iraj-label="Mot de passe">
			<input type="text">
		</div>
		<div iraj-control iraj-field="lastName" iraj-label="Nom">
			<input type="text">
		</div>
		<div iraj-control iraj-field="firstName" iraj-label="Prénom">
			<input type="text">
		</div>
		<div class="control-group">
			<label class="control-label" for="userEditForm-profileId2">Profile</label>
			<div class="controls">
				<select id="userEditForm-profileId2" ng-model="userEditForm.profileId" ng-options="profile.id as profile.label for profile in profileList"></select>
			</div>
		</div>
		<div iraj-control iraj-field="profileId" iraj-label="Profile">
			<select ng-options="profile.id as profile.label for profile in profileList" />
		</div>
		<div iraj-control="checkbox" iraj-field="active" iraj-label="Actif">
			<input type="checkbox">
		</div>
		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" ng-model="userEditForm.active"> Actif
				</label>
			</div>
		</div>
		
		<button type="submit" class="btn" style="float:right">Enregistrer</button>
	</fieldset>
</form>