<form ng-submit="searchUser(true)">
	<fieldset>
		<legend>Recherche d'utilisateur</legend>
		<label>Nom</label>
		<input type="text" ng-model="userForm.nom" placeholder="Type something…">
		
		<label>Login</label>
		<input type="text" ng-model="userForm.login" placeholder="Type something…">
		
		<label>Profile</label>
		<select ng-model="userForm.profileId" ng-options="profile.id as profile.label for profile in profileList">
			<option value="">Tous</option>
		</select>
		
		<button type="submit" class="btn">Rechercher</button>
	</fieldset>
</form>

<div ng-show="users.length > 0">
    <fieldset>
    	<legend>Nombre d'utilisateurs : {{nbResults}}</legend>
    
	    <div paginator searchform="userForm" searchmethod="searchUser()"></div>
	    
	    <table class="table table-bordered table-condensed table-hover table-striped">
	    	<thead>
		        <tr>
		            <th>Id </th>
		            <th>First Name <span style="float:right" sortoncolumn="firstName" searchform="userForm" searchmethod="searchUser()"></span></th>
		            <th>Last Name <span style="float:right" sortoncolumn="lastName" searchform="userForm" searchmethod="searchUser()"></span></th>
		        </tr>
		    </thead>
		    <tbody>
		    	<tr ng-repeat="user in users" ng-click="selectUser(user.userId)">
		            <td>{{user.userId}}</td>
		            <td>{{user.firstName}}</td>
		            <td>{{user.lastName}}</td>
		        </tr>
		    </tbody>
	    </table>
</div>