<div ng-controller="LoginCtrl" id="loginModal" class="modal hide fade" data-backdrop="static" data-keyboard="false" tabindex="-1">
	<form ng-submit="tryLogin(login, password)">
		<div class="modal-header">
			<h3>Authentication</h3>
		</div>
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" for="loginModal-login">Login</label>
				<div class="controls">
					<input type="text" id="loginModal-login" ng-model="login">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="loginModal-password">Password</label>
				<div class="controls">
					<input type="password" id="loginModal-password" ng-model="password">
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">Login !</button>
		</div>
	</form>
</div>